# CMake build directories
cmake-build-debug/
cmake-build-release/
build/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Binaries / Executables
cdx_builder
*.o
*.a
*.so

# gbz test file
*.gbz

# Other
token.txt

.DS_Store
**/ .DS_Store
